body{

    background-color: rgb(255, 255, 255);
}

.table1 table{
   
    border-collapse: collapse;
}

.table1 td ,th  {

   padding: 4px ;
   width: 100px;  
}

.table1 th{
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
}



